header{
  text-align: center;
  height: 100px;
  background-color: black;
}

img{
  position: relative;
  width: 200px;
  margin: 10px 0px;
}

.combatants{
  background-color: aquamarine;
  width: 100%;
  margin: 0;
  padding: 0px 7.5px;
  height: 220px;
}

.hp{
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  bottom: 10px;
  left: 7.5px;
  width: 200px;
}

.counter{
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  bottom: 30px;
  left: 7.5px;
  width: 200px;
}

.attack{
    background-color: #ffffff;
  color: #000000;
  position: absolute;
  bottom: 50px;
  left: 7.5px;
  width: 200px;
}

.col-md-9{
  background-color: aquamarine;
}
.col-md-3{
  background-color: yellow;
}

#controls{
  margin: 10px 0px;
}

#target {
  width: 100%;
  height: 170px;
  margin-top: 10px;
  background-color: red;
}

#player {
  width: 100%;
  height: 170px;
  margin-top: 10px;
  background-color: green;
}

#step-1-instructions{
  text-align: center;
  padding-top: 25px;
  color: #ffffff;
}